/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
    &none  &kp LC(LS(F13)) &kp LC(LS(F14)) &kp LC(LS(F15))
    &tog 1 &kp LC(LS(F10)) &kp LC(LS(F11)) &kp LC(LS(F12))
    &tog 2 &kp LC(LS(F7))  &kp LC(LS(F8))  &kp LC(LS(F9))
            >;
        };

        lower_layer {
            bindings = <
    &tog 0 &kp LC(LS(F22)) &kp LC(LS(F23)) &kp LC(LS(F24))
    &none  &kp LC(LS(F19)) &kp LC(LS(F20)) &kp LC(LS(F21))
    &tog 2 &kp LC(LS(F16)) &kp LC(LS(F17)) &kp LC(LS(F18))
            >;
        };

        raise_layer {
            bindings = <
    &tog 0 &bt BT_CLR   &sys_reset   &bootloader
    &tog 1 &bt BT_SEL 3 &bt BT_SEL 4 &none
    &none  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2
            >;
        };
    };
};
